<!DOCTYPE html>
<html   xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>My book List</title>
    <th:block th:replace="layout :: link-css"></th:block>
</head>
<body>
<th:block th:replace="Layout :: header"></th:block>

<div class="container">
    <h1 th:text="${title}"></h1>
    <table class="table">
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Authors</th>
            <th>Price</th>
            <th>Category</th>
            <th sec:authorize="hasAnyAuthority('ADMIN')">Action</th>
        </tr>
        <tbody id = "book-table-body">

        </tbody>
        <tr th:each="book: ${books}">
            <td th:text="${book.id}"></td>
            <td th:text="${book.title}"></td>
            <td th:text="${book.author}"></td>
            <td th:text="${book.price}"></td>
            <td th:text="${book.category.name}"></td>
            <td sec:authorize="hasAnyAuthority('ADMIN')">
                <a th:href="@{/books/edit/{id}(id=${book.id})}" class="text-info">Edit</a>
                <a th:href="@{/books/delete/{id}(id=${book.id})}"
                   onclick="return confirm('Are you sure?')" class="text-danger">Delete</a>
            </td>
        </tr>
    </table>
</div>

<!--<script th:src="@{/js/jquery-3.6.4.min.js}"></script>-->
<!--<script th:src="@{/js/list.js}"></script>-->
<th:block th:replace = "layout :: footer"></th:block>
</body>
</html>
